@CHARSET "UTF-8";
/* reset*/
*				{ margin:0; padding:0 }
body			{ font:0.75em "맑은 고딕", 돋움, 굴림; text-align:center }
ul, ol			{ list-style-type: none }

div#outerwrap		{ height:1000px; width:1000px;
						position:relative;
						margin:0px auto;
						border: 1px solid red;
}

div#header			{height:100px; width:auto;
					 background-image:url(http://localhost:8088/bitin/assets/images/bit.jpg);
					 border-bottom:2px solid #333;
}	
					
div#main			{width:auto; height:870px; 
					 overflow:hidden; 
					 border:1px #000;
}

div#footer			{width:auto; height:30px;
					 border:1px;
					 border-color:#000000;
}/* 레이아웃 */
/* div#outerwrap		{min-width:1000px;  background-color:#EEE; padding:15px;
					border:1px solid #DADADA; }


div#header		{width: auto ; padding:15px; text-align:center; background-color:#6EE;
				height: 150px;}
div#
 */

/* 
div#header h1	
	
 */